@import "./vendor/normalize.css";
@import "./vendor/fonts.css";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #000000;
  background-color: #ffffff;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

ul {
  list-style: none;
}
